/* Styles for picker input with id "picker1" */
#selectedLanguage .bootstrap-tagsinput .tag {
  background-color: #ff0000;
  color: white;
}

#selectedLanguage .bootstrap-tagsinput .tag:hover {
  background-color: #cc0000;
  color: white;
}

#selectedLanguage .bootstrap-tagsinput input {
  background-color: #ffcccc;
}

#selectedLanguage .bootstrap-tagsinput input:focus {
  background-color: #ff9999;
}